<configuration>
	<connectionStrings>
		<add name="ProductionDB"
			 connectionString="Data Source=UMT---TMU\SQLEXPRESS;Initial Catalog=ProductionDB;Integrated Security=True;Trust Server Certificate=True"/>
		<add name="MainDB"
			 connectionString="Data Source=UMT---TMU\SQLEXPRESS;Initial Catalog=MaindDB;Integrated Security=True;Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>